<a href="https://colab.research.google.com/github/sabikunnahar16/PythonProjectLab/blob/main/All_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
for i in range(5):
  print (i)
  i+=1

print("end the program")

0
1
2
3
4
end the program

In [10]:
numbers=[1,2,3,4]
for num in numbers:
  print(num)

1
2
3
4

In [14]:
data={'name':'alice','age':25}
for key,value in data.items():
  print(key,value)

name alice
age 25

In [20]:

for num in range(5):
  # if num==3:
  #   continue
  # print(num)
  if num==3:
    break
print(num)

0
1
2
4
4

In [21]:
for i in range(5):
  for j in range (6):
    print(i,j)//nested loop

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5

else if

In [24]:
for num in range(5):

  print(num)
else:
    print('done')

0
1
2
3
4
done

square

In [31]:
square=[ x**2 for x in range(6)]
print(square)

In [33]:
for num in range(0,13,2):
  print(num)

0
2
4
6
8
10
12

In [34]:
# prompt: create a nested loop to print a multiplication table

for i in range(1, 11):
  for j in range(1, 11):
    print(i * j, end="\t")
  print() # Move to the next line after each row

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

use a while loop to sum numbers untill 100

In [41]:

  sum=0
  i=1
  while i<=100:
    sum=sum+i;

    i+=1
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050