<a href="https://colab.research.google.com/github/sabikunnahar16/PythonProjectLab/blob/main/PythonList_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Adding element into listing *Funtion*

In [24]:
city=["Dhaka"]

city.append("Barishal")
city.extend(['Khulna',"Rajshahi"])
city.insert(1,"bluebery")
print(city)
city.remove("Rajshahi")
print (city)

['Dhaka', 'bluebery', 'Barishal', 'Khulna', 'Rajshahi']
['Dhaka', 'bluebery', 'Barishal', 'Khulna']

In [10]:
numbers=[12,90,767,789,543,45]
print(numbers)
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
print(min(numbers))
print(max(numbers))
numbers.pop()
print(numbers)
numbers.clear()
print(numbers)

[12, 90, 767, 789, 543, 45]
[12, 45, 90, 543, 767, 789]
[789, 767, 543, 90, 45, 12]
12
789
[789, 767, 543, 90, 45]
[]

 Let us say your expense for every month are listed below,
# 	1. January -  2200
#  	2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190
#

In [12]:
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp = [2200,2350,2600,2130,2190]
print("In feb i doller spent compared to jan:",exp[1]-exp[0])
print("Total expense in first quarter:",exp[0]+exp[1]+exp[2])
print("did i spent exactly 2000$ in any month?", 2000 in exp)

exp.append(1980)
print("My expence after june:",exp)
exp[3]=exp[3]-200
print("My expence after june:",exp)

In feb i doller spent compared to jan: 150
Total expense in first quarter: 7150
did i spent exactly 2000$ in any month? False
My expence after june: [2200, 2350, 2600, 2130, 2190, 1980]
My expence after june: [2200, 2350, 2600, 1930, 2190, 1980]

In [22]:
heros = ['pironman','asiderman','thor']

heros.sort()
print(heros)
heros[1:3]=['doctor',' strange']
# replace element index 1 (inclusive) to index 3 (exclusive), which would typically be elements at positions 1 and 2.
print(heros)

['asiderman', 'pironman', 'thor']
['asiderman', 'doctor', ' strange']