<a href="https://colab.research.google.com/github/sabikunnahar16/PythonProjectLab/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Create 3 variables to store street, city and country, now create address variable to

In [ ]:

# store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
# Now Print the address in such a way that the street, city and country prints in a separate line
street = "wari 12"
city = "dhaka"
country="Bangladesh"
address = street+"\n"+city+"\n"+country
print("Address using + operator:",address)
address=f"{street} \n {city} \n {country} "
print("Address using f-string:",address)

Address using + operator: wari 12
dhaka
Bangladesh
Address using f-string: wari 12
 dhaka
 Bangladesh

2. Create a variable to store the string "Earth revolves around the sun"

In [ ]:

#     1. Print "revolves" using slice operator
#     2. Print "sun" using negative index
s='Earth revolves around the sun'
#here space also counts and last spce also counts
print(s[6:14])
print(s[-3:])

revolve
sun

 Create two variables to store how many fruits and vegetables you eat in a day.
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
# Use python f string for this.

In [1]:
x=10
y=21
print(f"i eat {x} Fruits and {y} vegetables")

i eat 10 Fruits and 21

In [7]:
#/wrong statement, the correct statement is 'maine 200 banana khaye'.

#Replace incorrect words in original string with new ones and print the new string.
#Also try to do this in one line.
#wrong statement, the correct statement is 'maine 10 samosa khaye'
str="maine 200 banana khaye"
str=str.replace("banana","samosa")
str=str.replace("200","10")
print(str)
# alternative
str="maine 200 banana khaye"
print(str.replace("banana",'samosa').replace("200","10"))
print("this sentence is one line printing:",str)

maine 10 samosa khaye
maine 10 samosa khaye
thissentence is oneline printing: maine 200 banana khaye